.question {
  &-container {
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    background: #cae4c5;
    border-radius: 8px;
    padding: 32px;
    height: 120px;
    display: flex;
    justify-content: space-between;
  }
  &__description {
    margin-top: 4px;
    color: rgb(90, 91, 97);
    font-size: 16px;
  }
  &__action-button {
    font-size: 20px;
    width: 80px;
  }
}
.text-container {
  width: 60%;
}

.actions {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
