<div class="question-container">
  <div class="text-container">
    <link-text
      text="{{ question.value.title | slice: 0:60 }}"
      [routerLink]="['/question', question.key]"
    >
      {{ question.value.title }}
    </link-text>
    <p class="question__description">
      {{ question.value.description | slice: 0:200 }}
    </p>
  </div>
  <div class="actions">
    <action-button
      text="Edit"
      class="question__action-button"
      (click)="edit()"
      [routerLink]="['/edit-question']"
    >
    </action-button>
    <delete-button
      text="Delete"
      class="question__action-button"
      (click)="delete(question.key)"
    >
    </delete-button>
  </div>
</div>
