.question {
  &-container {
    margin: 0 auto;
    width: 60%;
    background-color: rgb(214, 214, 214);
    padding: 32px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  &__title {
    padding-top: 20px;
    margin-bottom: 36px;
  }
  &__description {
    font-size: 24px;
  }
}
