.footer {
  margin-top: 48px;
  height: 60px;
  background: #dfffbb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 36px;
  opacity: 0.4;
  transition: 0.15s all ease;
  &:hover {
    opacity: 0.8;
  }

  &__text {
    color: rgb(90, 91, 97);
    font-size: 16px;
    text-align: center;
    margin-right: 40px;
    span {
      font-weight: bold;
    }
  }
  &__links {
    text-align: center;
  }
  a {
    color: #576390;
    text-decoration: none;
    &:visited {
      color: #2e375c;
    }
  }
}
