<div *ngIf="question">
  <div class="container">
    <div class="question">
      <h1 class="question__title">{{ question.title }}</h1>
      <p class="question__description">{{ question.description }}</p>
      <div class="question__details">
        <p class="question__author">
          by <span> {{ question.author }} </span>
        </p>
      </div>
    </div>
    <div class="no-answers" *ngIf="!question?.answers">
      There are no answers yet. Be the first one to help!
    </div>

    <app-answer
      *ngFor="let answer of answers | keyvalue"
      [answer]="answer"
    ></app-answer>

    <div class="add-answer-container">
      <h2 class="add-answer__title">Your answer</h2>
      <textarea
        class="add-answer__text"
        name=""
        id=""
        cols="30"
        rows="10"
        [(ngModel)]="answerBody"
      ></textarea>
      <action-button
        text="Post your answer"
        *ngIf="isAuth; else isNotAuth"
        class="add-answer__button"
        (click)="onSubmit()"
      >
        Post your answer
      </action-button>
      <ng-template #isNotAuth>
        <div class="isNotAuth">
          <p>
            <link-text text="Log In" routerLink="/login"></link-text> or
            <link-text text="Sign Up" routerLink="/sign-up"></link-text> to post
            your answers!
          </p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
