.ask-question {
  &-container {
    margin: 0 auto;
    margin-top: 16px;
    padding: 20px;
    min-width: 800px;
    width: 60%;
    background: #cae4c5;
    border-radius: 8px;
  }
  &__title {
    font-size: 24px;
    color: #2e375c;
  }
  &__inputs {
    margin-top: 20px;
  }
  &__description {
    resize: none;
  }
  &__details {
    color: #2e375c;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 20px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.title-input {
  padding: 4px;
  margin-top: 4px;
  font-size: 20px;
}

.submit-button {
  margin-top: 32px;
  width: 100px;
  font-size: 16px;
}

textarea {
  padding: 4px;
  font-size: 16px;
  margin-top: 4px;
}
