.ask-question {
  &-container {
    margin: 0 auto;
    padding: 20px;
    min-width: 800px;
    width: 60%;
    background-color: rgb(214, 214, 214);
  }
  &__title {
    font-size: 30px;
  }
  &__inputs {
    margin-top: 24px;
  }
  &__description {
    resize: none;
  }
  &__details {
    margin-top: 16px;
    font-size: 20px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.title-input,
.tags-input {
  margin-top: 4px;
  font-size: 24px;
}

.submit-button {
  margin-top: 32px;
  width: 100px;
  font-size: 24px;
}

textarea {
  font-size: 20px;
  margin-top: 4px;
}
