<div class="ask-question-container">
  <h1 class="ask-question__title">Ask a Question</h1>
  <div class="ask-question__inputs">
    <p class="ask-question__details">Title</p>
    <form [formGroup]="questionForm">
      <input
        class="title-input"
        type="text"
        placeholder="Your question (e.g. 'how to override the default styles in Vuetify?') "
        formControlName="title"
      />
      <p class="ask-question__details">Description</p>
      <textarea
        rows="10"
        class="ask-question__description"
        placeholder="Provide the details of your problem (steps to reproduce, examples etc.) "
        formControlName="description"
      ></textarea>
      <!-- <p class="ask-question__details">Tags (separated by comma)</p>
      <input
        type="text"
        class="tags-input"
        placeholder="Provide the tags that are related to your question (e.g. 'javascript, arrays, functions')"
        [(ngModel)]="question.tags"
        name="tags"
      /> -->
      <button class="submit-button" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</div>
