.container {
  margin: 0 auto;
  width: 60%;
  min-width: 800px;
}
.user {
  &-container {
    background-color: rgb(214, 214, 214);
    padding: 32px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  &__name {
    padding-top: 20px;
    margin-bottom: 36px;
  }
  &__email {
    font-size: 24px;
  }
}
.no-questions {
  background-color: rgb(244, 255, 181);
  font-size: 20px;
  padding: 16px 32px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}
.show-questions {
  background-color: rgb(255, 227, 134);
  font-size: 20px;
  padding: 16px 32px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}
