.container {
  margin: 0 auto;
  width: 80%;
  min-width: 800px;
  padding-top: 16px;
}
.user {
  &-container {
    background: #cae4c5;
    border-radius: 8px;
    padding: 32px;
  }
  &__name {
    color: #2e375c;
    font-size: 24px;
    margin-bottom: 12px;
  }
  &__email {
    font-size: 20px;
    color: #2e375c;
  }
}
.show-questions {
  margin: 16px 0;
  border-radius: 8px;
  background-color: rgb(245, 223, 163);
  font-size: 20px;
  padding: 16px 32px;
}
