<div class="login">
  <h1 class="login__title">Log In</h1>
  <form
    class="login__form"
    [formGroup]="loginForm"
    (keydown.enter)="$event.preventDefault()"
  >
    <p>Email</p>
    <input type="email" class="login__email" formControlName="email" />
    <p>Password</p>
    <input type="password" class="login__password" formControlName="password" />
    <action-button
      text="Login"
      class="login__button"
      (click)="onSubmit($event)"
    ></action-button>
  </form>
  <div class="not-auth__message">
    Don't have an account? <br />
    <span class="sign-up__link" routerLink="/sign-up">Sign up</span>
  </div>
</div>
