.question {
  &-container {
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(179, 179, 179);
    margin-bottom: 16px;
  }
  &__title {
    font-size: 20px;
  }
  &__description {
    margin-bottom: 8px;
    color: rgb(70, 70, 70);
    font-size: 16px;
  }
  &__details {
    display: flex;
    align-items: end;
    flex-direction: column;
  }
}
