.question {
  &-container {
    padding-bottom: 16px;
    margin-bottom: 16px;
    background: #cae4c5;
    border-radius: 8px;
    padding: 32px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__description {
    max-width: fit-content;
    margin-top: 4px;
    color: rgb(90, 91, 97);
    font-size: 16px;
  }

  &__details {
    align-self: flex-end;
  }
  &__author {
    font-size: 16px;
    color: rgb(121, 121, 124);
    span {
      font-weight: bold;
    }
  }
}
