<div class="nav-container">
  <div class="nav__logo-container">
    <span class="nav__logo" routerLink="">HelpDesk</span>
    <nav-button text="Ask Question" routerLink="/ask-question"></nav-button>
  </div>
  <div class="nav__actions">
    <ng-container *ngIf="!isAuth; else elseBlock" class="buttons__default">
      <nav-button text="Login" routerLink="/login"></nav-button>
      <nav-button text="Sign Up" routerLink="/sign-up"></nav-button>
    </ng-container>
    <ng-template #elseBlock>
      <nav-button (click)="logout()" text="Logout"></nav-button>
      <nav-button routerLink="/user-page" text="My Profile"></nav-button>
    </ng-template>
  </div>
</div>
<router-outlet></router-outlet>
