<div class="nav-container">
  <div class="nav__logo-search">
    <span class="nav__logo" routerLink="/">HelpDesk</span>
    <input type="search" class="nav__search" placeholder="Search..." />
  </div>
  <div class="nav__actions">
    <button class="nav__button button-ask" routerLink="/ask-question">
      Ask Question
    </button>
    <button class="nav__button button-login">Log In</button>
    <button class="nav__button button-signup">Sign Up</button>
  </div>
</div>
<router-outlet></router-outlet>
