.nav-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 36px;
  background: #ffd4bb;
  position: sticky;
  top: 0;
}

.nav {
  &__logo-container {
    height: 32px;
    display: flex;
    align-items: center;
  }
  &__logo {
    color: #557240;
    font-size: 32px;
    margin-right: 40px;
    user-select: none;
    cursor: pointer;
  }

  &__actions .button-ask {
    margin-right: 80px;
  }

  &__button {
    min-width: 100px;
    font-size: 24px;
    padding: 4px 8px;
    margin: 0 8px;
  }
}
