body {
  margin: 0 auto;
  background: #eff8ed;
  min-height: 100%;
}

body,
button,
textarea,
input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  cursor: pointer;
}

h1,
p {
  margin: 0;
}

button,
input:active,
:focus {
  outline: none;
  box-shadow: none;
  outline: none;
  border: none;
}
input,
textarea {
  border: none;
  &::placeholder {
    color: #a0a0a0;
  }
}
